@import url('./fonts.css');
@import url('./code-block.css');

:root {
  --color-code-block-bg: rgba(27, 31, 35, 0.05);
  --color-code-block-border: rgba(27, 31, 35, 0.1);
  --color-table-border: #eee;
  --color-table-bg-1: #f8f8f8;
  --color-table-bg-2: #fff;
  --color-table-text: #333;
  --color-quote-bg: #f8f8f8;
  --color-quote-border: #eee;
  --color-quote-text: #666;
  --color-count-bg: rgba(255, 255, 255, 0.4);
  --color-count-text: #9f7b7b;
  --color-count-value: #ffa5b3;
  --color-menu-bg: rgba(255, 255, 255, 0.4);
  --color-menu-text: #636970;
  --color-menu-text-active: #fff;
  --color-count-shadow: rgba(255, 199, 199, 0.3);
  --color-post-bottom: rgb(196, 196, 196);
  --color-posts-item-bottom: rgb(231, 201, 205);
  --color-copyright-bg: #fafafa;
  --color-footer-bg: #f5f6f5;
  --waline-border-color: #ddd;
  --color-footer-header: rgba(0, 0, 0, 0.2);
  --color-floating-button-bg: #fff;
  --color-floating-button-text: #444;
  --color-toc-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-code-block-bg: rgba(0, 0, 0, 0.3);
    --color-code-block-border: rgba(255, 255, 255, 0.1);
    --color-table-border: #272727;
    --color-table-bg-1: #343434;
    --color-table-bg-2: #474747;
    --color-table-text: #fff;
    --color-quote-bg: #272727;
    --color-quote-border: #333;
    --color-quote-text: #999;
    --color-count-bg: rgba(67, 67, 67, 0.4);
    --color-count-text: #999;
    --color-count-value: #ff6b81;
    --color-count-shadow: rgba(0, 0, 0, 0.3);
    --color-menu-bg: rgba(64, 64, 64, 0.4);
    --color-menu-text: #9ca2a8;
    --color-menu-text-active: #fff;
    --color-post-bottom: rgb(57, 57, 57);
    --color-posts-item-bottom: rgb(93, 67, 67);
    --color-copyright-bg: #333;
    --color-footer-bg: #272727;
    --waline-border-color: #333;
    --color-footer-header: rgba(255, 255, 255, 0.2);
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-floating-button-bg: #333;
    --color-floating-button-text: #fff;
    --color-toc-bg: #333;
  }
}

html,
body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei', Helvetica,
    Arial, sans-serif;
  color: var(--color-text-1);
}

input {
  color: var(--color-text-1);
}

.nexmoe-drawer.mdui-drawer.mdui-drawer-open {
  background: var(--color-card);
}

@media screen and (min-width: 1024px) {
  .nexmoe-drawer {
    background: none !important;
  }
}

article.nexmoe-py ul li {
  box-shadow: 0 0 0 1px var(--color-shadow);
}

article.nexmoe-py ul li > a::after {
  font-size: 1rem !important;
  font-weight: bold;
  height: 36px;
}

article.nexmoe-py ul li > a:before {
  height: 48px;
  background-image: linear-gradient(
    to top,
    rgb(16, 16, 16) 0%,
    rgba(16, 16, 16, 0) 100%
  );
}

.nexmoe-post-right .nexmoe-tool .mdui-fab {
  background-color: var(--color-floating-button-bg);
  color: var(--color-floating-button-text);
}

.nexmoe-toc {
  background-color: var(--color-toc-bg);
  color: var(--color-text-1) !important;
}

.nexmoe-toc a {
  color: var(--color-text-1) !important;
}

.nexmoe-toc a:hover {
  color: #fff !important;
}

.wl-panel {
  border-color: var(--waline-border-color) !important;
}

mark {
  background-color: var(--color-primary-bg);
  color: var(--color-primary);
  border-radius: 3px;
}

code {
  font-family: 'Fira Code', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace !important;
}

p code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
b code,
strong code,
table code,
i code,
u code,
a code,
span code,
li code,
ol code,
ul code {
  display: inline-block;
  overflow: visible !important;
  padding: 0.05em 0.4em !important;
  background: var(--color-code-block-bg) !important;
  border-radius: 3px !important;
  box-shadow: inset 0 -1px 0 var(--color-code-block-border) !important;
}
article p {
  line-height: 1.8;
  margin: 1em 0;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  position: relative;
  line-height: 1.5;
}
article h1 {
  font-size: 2em;
}
article h2::before {
  border-color: var(--color-code-block-border) !important;
}
article h3::before {
  content: '';
  display: inline-block;
  margin-right: 0.5em;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: var(--color-primary);
  left: -1em;
  top: 50%;
}
article ul {
  /* background-color: var(--color-primary-bg); */
  border-radius: 5px;
  margin: 5px !important;
  box-sizing: border-box;
  margin-bottom: 1em !important;
}
article li {
  padding-top: 0.25em !important;
  position: relative;
  box-sizing: border-box;
  line-height: 1.8 !important;
}
article li::before {
  position: absolute !important;
  margin-top: 0.5em !important;
}
article li::after {
  display: block !important;
  height: auto !important;
  /* top: 0 !important; */
  bottom: -1em !important;
}
article li:nth-last-child(1)::after {
  bottom: 0.8em !important;
}

article blockquote {
  background-color: var(--color-quote-bg);
  border-color: var(--color-quote-border) !important;
  color: var(--color-quote-text);
}

.nexmoe-post-cover h1,
.nexmoe-post-cover h2,
.nexmoe-post-cover h3,
.nexmoe-post-cover h4,
.nexmoe-post-cover h5,
.nexmoe-post-cover h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

pre {
  font-family: 'Fira Code', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace !important;
}

article {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei', Helvetica,
    Arial, sans-serif;
}
.line-numbers .line-numbers-rows {
  border-right: 1px solid rgb(62, 64, 74); /* 设置竖线颜色 */
}

article > table {
  color: var(--color-table-text);
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin: 25px auto;
  background: transparent;
  display: block;
}
article > table::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
article > table::-webkit-scrollbar-thumb {
  background-color: #888;
}
article > table thead {
  border-bottom: 1px solid var(--color-table-border);
  background-color: var(--color-table-bg-1);
}
article > table thead tr {
  background-color: var(--color-table-bg-1);
}
article > table th {
  border: 1px solid var(--color-table-border);
  padding: 13px 26px;
  font-weight: 400;
}
article > table td {
  border: 1px solid var(--color-table-border);
  padding: 13px 26px;
}
article > table tr {
  background-color: var(--color-table-bg-2);
}
article > table tr:nth-child(2n) {
  background-color: var(--color-table-bg-1);
}
article img {
  border-radius: 5px !important;
  margin-bottom: 1em !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
article p a[href]::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZjRlNmEnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNMTAgMTNhNSA1IDAgMCAwIDcuNTQuNTRsMy0zYTUgNSAwIDAgMC03LjA3LTcuMDdsLTEuNzIgMS43MScvPjxwYXRoIGQ9J00xNCAxMWE1IDUgMCAwIDAtNy41NC0uNTRsLTMgM2E1IDUgMCAwIDAgNy4wNyA3LjA3bDEuNzEtMS43MScvPjwvc3ZnPg==');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.1em;
  margin-bottom: -0.1em;
}
.nexmoe-py li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0 !important;
  box-shadow: none !important;
}
article ul code span {
  margin-right: 0;
}
article ul button span {
  margin-right: 0;
}
article blockquote {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei', Helvetica,
    Arial, sans-serif;
}
blockquote p {
  margin: 1em 0;
}
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei', Helvetica,
    Arial, sans-serif;
}
p:has(img) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.code-toolbar .toolbar-item {
  cursor: default;
  margin: 0 3px;
}
.nexmoe-avatar {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3) !important;
  transition: 0.3s !important;
}
.nexmoe-avatar:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) !important;
}
.nexmoe-count > div {
  background: var(--color-count-bg);
  backdrop-filter: blur(5px);
  margin: 0px 5px;
  border-radius: 3px;
  padding: 8px 10px;
  color: var(--color-count-text) !important;
  box-shadow: 0 5px 10px var(--color-count-shadow);
}
.nexmoe-count > div:nth-child(1) {
  border-radius: 10px 3px 3px 10px;
}
.nexmoe-count > div:nth-last-child(1) {
  border-radius: 3px 10px 10px 3px;
}
.nexmoe-count > div > span {
  color: var(--color-count-value) !important;
  margin-bottom: 3px;
}
.nexmoe-widget-wrap .nexmoe-widget ul li a {
  color: var(--color-menu-text) !important;
}
.nexmoe-post {
  border-bottom: 2px solid var(--color-post-bottom);
  overflow: visible;
  transition: 0.3s;
  margin-bottom: 140px;
  position: relative;
}
.nexmoe-post::after {
  content: 'Copyright © bietiaop';
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text-1);
}
.nexmoe-post-copyright {
  background-color: var(--color-copyright-bg) !important;
  color: var(--color-text-1) !important;
}
#nexmoe-content .nexmoe-post .nexmoe-post-cover {
  min-height: 194px !important;
}
.nexmoe-primary {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.nexmoe-primary:has(.nexmoe-posts) {
  padding-bottom: 100px !important;
}
.nexmoe-primary:has(.nexmoe-posts)::after {
  content: '© bietiaop';
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translate(-50%, 0);
  color: var(--color-text-1);
}

.nexmoe-post-meta {
  padding: 10px 0px;
}
.nexmoe-post-meta .nexmoe-rainbow {
  padding: 0px 10px;
}
.nexmoe-post .nexmoe-post-cover {
  overflow: hidden;
  padding-bottom: 15% !important;
  border-radius: 16px !important;
}

.nexmoe-posts .nexmoe-post {
  border-radius: 16px;
  border-bottom: 2px solid var(--color-posts-item-bottom);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.nexmoe-posts .nexmoe-post::after {
  display: none;
}
.nexmoe-posts .nexmoe-post-cover {
  border-radius: 16px 16px 0 0 !important;
}
.nexmoe-post-copyright {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto !important;
  margin-top: 40px !important;
}
.nexmoe-post-footer {
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: relative;
  padding: 30px !important;
  box-sizing: border-box;
  margin: 0 auto !important;
}
.nexmoe-post-footer {
  background-color: var(--color-footer-bg);
  color: var(--color-text-1);
}
.nexmoe-post-footer::before {
  content: '';
  position: absolute;
  width: 5em;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-footer-header);
  left: 50%;
  transform: translate(-50%, 0);
  top: 15px;
}
.nexmoe-drawer .nexmoe-list .nexmoe-list-item {
  background-color: var(--color-menu-bg);
  color: var(--color-menu-text) !important;
  backdrop-filter: blur(5px);
}

.nexmoe-drawer .nexmoe-list .nexmoe-list-item i {
  color: var(--color-menu-text) !important;
}

.nexmoe #nexmoe-header .nexmoe-list .nexmoe-list-item.true,
.nexmoe #nexmoe-header .nexmoe-list .nexmoe-list-item.true i {
  color: var(--color-menu-text-active) !important;
}

.nexmoe-page-nav {
  justify-content: right;
}

.spoiler-title {
  padding: 0.6em 1em !important;
  font-size: 1em !important;
  user-select: none;
  transition: 0.3s;
  position: relative;
  display: flex !important;
  align-items: center;
}
.spoiler-title:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.spoiler-title::before {
  /* content: "△" !important; */
  content: '' !important;
  display: block;
  margin-top: -0.1em;
  margin-right: 0.5em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.6em 0.8em 0.6em;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
  transform: rotate(180deg);
  border-radius: 3px;
  transition: 0.5s;
}
.spoiler.expanded .spoiler-title::before {
  transform: rotate(0deg);
}
@media screen and (max-width: 1024px) {
  .nexmoe-drawer.mdui-drawer-open {
    max-width: 300px !important;
    min-width: 210px !important;
  }
}
@media screen and (max-width: 770px) {
  #nexmoe-content .nexmoe-post .nexmoe-post-cover.absolute h1 {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 610px) {
  .nexmoe-post-footer {
    width: calc(100% + 48px) !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    left: -24px !important;
    position: relative;
  }
}
@media screen and (max-width: 550px) {
  #nexmoe-content .nexmoe-post .nexmoe-post-cover.absolute h1 {
    font-size: 1.6rem !important;
    padding: 10px !important;
  }
}

.comment-count {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 0.9rem;
  color: #9d9d9d;
  gap: 5px;
}
